@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

theme {
  --font-poppins: Poppins, sans-serif;
}

@layer base {
  body {
    @apply bg-gray-950;
  }
}

@layer components {
  .center {
    @apply mx-5;
  }
  .tabs {
    @apply bg-zinc-950/20 max-w-[800px]
    mt-25 mb-25 rounded-lg border-2 border-zinc-50/10 text-zinc-300 grid grid-rows-[min-content_1fr] mx-auto;
  }
  .tabs-btn-container {
    @apply flex border-b-1 border-solid border-zinc-50/10;
  }
  .tab {
    @apply border-none bg-transparent text-zinc-100 basis-full flex justify-center items-center lg:text-xl cursor-pointer py-5 px-0 font-bold;
  }
  .tab:not(:nth-child(3), .tab.active-gradient) {
    @apply border-r-1 border-solid border-zinc-50/10;
  }
  .tab:nth-child(1) {
    @apply border-solid border-zinc-50/10 rounded-tl-lg;
  }
  .tab:nth-child(3) {
    @apply border-solid border-zinc-50/10 rounded-tr-lg;
  }
  .tab-content {
    @apply p-[clamp(35px,3vw,40px)] min-h-52 transition-opacity duration-[0.4s] ease-out opacity-0 invisible;
  }
  .tab-content p {
    @apply pt-5 leading-[1.6];
  }
  .tab-content h3 {
    @apply lg:text-xl;
  }
  .box-shadow-white-01 {
    @apply shadow-[0_0_20px_1px_rgba(255,255,255,0.1)];
  }
  .active-tab-content {
    @apply visible opacity-100
  }
}

@layer utilities {
  .active-gradient {
    @apply bg-[linear-gradient(45deg,_#f59e0b,_#ef4444)];
  }
  .tab-content {
    grid-area: 2 / 1 / 3 / 2;
  }
}

/* font-thin : 100
 font-extralight : 200
 font-light : 300
 font-normal : 400
 font-medium : 500
 font-semibold : 600
 font-bold : 700
 font-extrabold : 800
 font-black : 900 
 */
